.Sidebar {
    flex: 1;
    overflow: scroll;
}

.SidebarList-item {
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    height: calc(100vh / 6);
    overflow: scroll;
    cursor: pointer;
    padding: 10px;
    text-align: left;
}

.SidebarList-item:hover {
    color: teal;
}

.SidebarList-item--Highlighted {
    background-color: #09d3ac;
    color: white;
}

.SidebarList-item--Highlighted:hover {
    color: white;
}
